<% for (var i = 0; i < protos.length; i++) { %>
   <% for (var x = 0; x < protos[i].length; x++) { %>
   <div class='definition'>
      <h2 class='function'><%= protos[i][x].name %></h1>
      <p class='description'><%= protos[i][x].description %></p>
      <table>
         <% for (var y = 0; y < protos[i][x].attrs.length; y++) { %>
         <tr>
            <td class='attribute_name'><%= protos[i][x].attrs[y].name %></td>
            <td class='attribute_value'><%= protos[i][x].attrs[y].value %></td>
         </tr>
         <% } %>
      </table>
   </div>
   <% } %>
<% } %>
